<h1> Places I've Been </h1>
  <p> There are many places I've traveled, here's a place for me to store the memories... </p>
  <p> A few places I've been are: </p>


  <ul>
  <% for place in @places %>
    <li> <%=place%> </li>

<% end %>

</ul>

<p> So far, I've been to <%= @places.count %> places!</p>